/* Pagina Inicial */

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

header {
    background-color: #25242a;
    box-shadow: 0px 3px 10px #464646;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: #fff;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 40;
}

body {
    background-color: #25242a;
}

/* Últimas Noticias */

.container {
    display: flex;
}

.h-link {
    text-decoration: none;
    color: #fff;
    margin: 0 20px;

    h3{
        font-style: normal;
    }
}

.heading-title {
    font-size: 1.30rem;
    margin: 0 20px;
    color: #fff;
}

img {
    margin: 0 10px;
    border-radius: 20px;
}

.container3 {
    display: flex;
}

.h-l3 {
    text-decoration: none;
    color: #fff;
    margin: 0 20px;
    h3 {
        font-style: normal;
    }
}

h5 {
    margin: 0 10px;
    color: #fff;
}

/* The Quintessential Quintuplets um dos melhores Harém dos Últimos tempos*/

.meta-author a {
    color: red;
    text-decoration: none;
}
span {
    margin: 0 20px;
}

.meta-date {
    color: #fff;
}

h4 {
    color: #fff;
    margin: 0 20px;
}

.meta-page a{
    color: red;
    text-decoration: none;
}

.letra-grande {
    font-size: 20px;
}

/* Jogos */

.h-l2 {
    text-decoration: none;
    
    h3 {
        font-style: normal;
    }
}

/* 15 NOVOS Jogos que lançaram em Setembro */

p {
    margin: 10px;
    color: #fff;
}

h1 {
    margin: 10px;
    color: #fff;
}

.paragrafo {
    color: #fff;
    font-style: normal;
}

h3 {
    margin: 10px;
    color: #fff;
    font-style: italic;
}

video {
    margin: 10px;
    border-radius: 20px;
}